.container {
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) {
    width: 320px;
    overflow-x: hidden;
  }
  @media screen and (min-width: 410px) {
    width: 410px;
  }
  @media screen and (min-width: 1290px) {
    width: 1290px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: visible;
  }
}

main {
  background-color: #f8f8f8;
  // overflow: hidden;
}